<?xml version='1.0'?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
	<!--
		2015-12-31
		Цель плагина — предоставить администратору возможность
		форматировать отображение денежных денежных величин:
		«Mage2.PRO» → «Currency» → «Format».

		Помимо этого плагина для решения поставленной задачи нам нужны также плагины:
		@see \Dfe\CurrencyFormat\Framework\Locale\FormatPlugin::aroundGetPriceFormat()
		@see \Dfe\CurrencyFormat\Framework\Pricing\PriceCurrencyInterfacePlugin::beforeFormat()
		@see \Dfe\CurrencyFormat\Framework\Pricing\Render\AmountPlugin::beforeFormatCurrency()
	-->
	<type name='Magento\Directory\Model\Currency'>
		<plugin
			name='Dfe\CurrencyFormat\Directory\Model\CurrencyPlugin'
			type='Dfe\CurrencyFormat\Directory\Model\CurrencyPlugin'
		/>
	</type>
	<!--
		2015-12-26
		Цель плагина — предоставить администратору возможность
		форматировать отображение денежных денежных величин:
		«Mage2.PRO» → «Currency» → «Format».

		Помимо этого плагина для решения поставленной задачи нам нужны также плагины:
		@see \Dfe\CurrencyFormat\Directory\Model\CurrencyPlugin::beforeFormatTxt()
		@see \Dfe\CurrencyFormat\Framework\Pricing\PriceCurrencyInterfacePlugin::beforeFormat()
		@see \Dfe\CurrencyFormat\Framework\Pricing\Render\AmountPlugin::beforeFormatCurrency()
	-->
	<type name='Magento\Framework\Locale\Format'>
		<plugin
			name='Dfe\CurrencyFormat\Framework\Locale\FormatPlugin'
			type='Dfe\CurrencyFormat\Framework\Locale\FormatPlugin'
		/>
	</type>
	<!--
		2015-12-26
		Цель плагина — предоставить администратору возможность
		форматировать отображение денежных денежных величин:
		«Mage2.PRO» → «Currency» → «Format».

		Помимо этого плагина для решения поставленной задачи нам нужны также плагины:
		@see \Dfe\CurrencyFormat\Directory\Model\CurrencyPlugin::beforeFormatTxt()
		@see \Dfe\CurrencyFormat\Framework\Locale\FormatPlugin::aroundGetPriceFormat()
		@see \Dfe\CurrencyFormat\Framework\Pricing\Render\AmountPlugin::beforeFormatCurrency()
	-->
	<type name='Magento\Framework\Pricing\PriceCurrencyInterface'>
		<plugin
			name='Dfe\CurrencyFormat\Framework\Pricing\PriceCurrencyInterfacePlugin'
			type='Dfe\CurrencyFormat\Framework\Pricing\PriceCurrencyInterfacePlugin'
		/>
	</type>
	<!--
		2015-12-26
		Цель плагина — предоставить администратору возможность
		форматировать отображение денежных денежных величин:
		«Mage2.PRO» → «Currency» → «Format».

		Помимо этого плагина для решения поставленной задачи нам нужны также плагины:
		@see \Dfe\CurrencyFormat\Directory\Model\CurrencyPlugin::beforeFormatTxt()
		@see \Dfe\CurrencyFormat\Framework\Locale\FormatPlugin::aroundGetPriceFormat()
		@see \Dfe\CurrencyFormat\Framework\Pricing\PriceCurrencyInterfacePlugin::beforeFormat()
	-->
	<type name='Magento\Framework\Pricing\Render\Amount'>
		<plugin
			name='Dfe\CurrencyFormat\Framework\Pricing\Render\AmountPlugin'
			type='Dfe\CurrencyFormat\Framework\Pricing\Render\AmountPlugin'
		/>
	</type>
</config>