<?xml version='1.0'?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
	<!--
		2015-12-31
		Цель плагина — предоставить администратору возможность
		форматировать отображение денежных денежных величин:
		«Mage2.PRO» → «Currency» → «Format».

		Помимо этого плагина для решения поставленной задачи нам нужны также плагины:
		@see \Dfe\CurrencyFormat\Plugin\Framework\Locale\Format::aroundGetPriceFormat()
		@see \Dfe\CurrencyFormat\Plugin\Framework\Pricing\PriceCurrencyInterface::beforeFormat()
		@see \Dfe\CurrencyFormat\Plugin\Framework\Pricing\Render\Amount::beforeFormatCurrency()
	-->
	<type name='Magento\Directory\Model\Currency'>
		<plugin
			name='Dfe\CurrencyFormat\Plugin\Directory\Model\Currency'
			type='Dfe\CurrencyFormat\Plugin\Directory\Model\Currency'
		/>
	</type>
	<!-- 2016-08-01 -->
	<type name='Magento\Framework\Currency'>
		<plugin
			name='Dfe\CurrencyFormat\Plugin\Framework\Currency'
			type='Dfe\CurrencyFormat\Plugin\Framework\Currency'
		/>
	</type>
	<!--
		2015-12-26
		Цель плагина — предоставить администратору возможность
		форматировать отображение денежных денежных величин:
		«Mage2.PRO» → «Currency» → «Format».

		Помимо этого плагина для решения поставленной задачи нам нужны также плагины:
		@see \Dfe\CurrencyFormat\Plugin\Directory\Model\Currency::beforeFormatTxt()
		@see \Dfe\CurrencyFormat\Plugin\Framework\Pricing\PriceCurrencyInterface::beforeFormat()
		@see \Dfe\CurrencyFormat\Plugin\Framework\Pricing\Render\Amount::beforeFormatCurrency()
	-->
	<type name='Magento\Framework\Locale\Format'>
		<plugin
			name='Dfe\CurrencyFormat\Plugin\Framework\Locale\Format'
			type='Dfe\CurrencyFormat\Plugin\Framework\Locale\Format'
		/>
	</type>
	<!--
		2015-12-26
		Цель плагина — предоставить администратору возможность
		форматировать отображение денежных денежных величин:
		«Mage2.PRO» → «Currency» → «Format».

		Помимо этого плагина для решения поставленной задачи нам нужны также плагины:
		@see \Dfe\CurrencyFormat\Plugin\Directory\Model\Currency::beforeFormatTxt()
		@see \Dfe\CurrencyFormat\Plugin\Framework\Locale\Format::aroundGetPriceFormat()
		@see \Dfe\CurrencyFormat\Plugin\Framework\Pricing\Render\Amount::beforeFormatCurrency()
	-->
	<type name='Magento\Framework\Pricing\PriceCurrencyInterface'>
		<plugin
			name='Dfe\CurrencyFormat\Plugin\Framework\Pricing\PriceCurrencyInterface'
			type='Dfe\CurrencyFormat\Plugin\Framework\Pricing\PriceCurrencyInterface'
		/>
	</type>
	<!--
		2015-12-26
		Цель плагина — предоставить администратору возможность
		форматировать отображение денежных денежных величин:
		«Mage2.PRO» → «Currency» → «Format».

		Помимо этого плагина для решения поставленной задачи нам нужны также плагины:
		@see \Dfe\CurrencyFormat\Plugin\Directory\Model\Currency::beforeFormatTxt()
		@see \Dfe\CurrencyFormat\Plugin\Framework\Locale\Format::aroundGetPriceFormat()
		@see \Dfe\CurrencyFormat\Plugin\Framework\Pricing\PriceCurrencyInterface::beforeFormat()
	-->
	<type name='Magento\Framework\Pricing\Render\Amount'>
		<plugin
			name='Dfe\CurrencyFormat\Plugin\Framework\Pricing\Render\Amount'
			type='Dfe\CurrencyFormat\Plugin\Framework\Pricing\Render\Amount'
		/>
	</type>
	<!-- 2016-08-01 https://mage2.pro/t/1916 -->
	<type name='Magento\Sales\Model\Order'>
		<plugin
			name='Dfe\CurrencyFormat\Plugin\Sales\Model\Order'
			type='Dfe\CurrencyFormat\Plugin\Sales\Model\Order'
		/>
	</type>
</config>