<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:framework:Module/etc/module.xsd'
>
    <module name='Dfe_CurrencyFormat' setup_version='1.0.0'>
		<!--
			2016-08-01
			Метод @see \Magento\CurrencySymbol\Observer\CurrencyDisplayOptions::execute()
			перетирает работу предыдущих обсерверов: https://mage2.pro/t/1920
			Поэтому важно, чтобы наш обсервер выполнялся после указанного:
			https://mage2.pro/t/200/4
		-->
        <sequence>
            <module name='Magento_CurrencySymbol'/>
            <module name='Df_Core'/>
        </sequence>
    </module>
</config>
