<?xml version='1.0'?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"
>
	<system>
		<tab id='_df' translate='label' sortOrder='-100'>
			<label>Mage2.PRO</label>
		</tab>
		<section
			id='dfe_currency'
			translate='label'
			type='text'
			showInDefault='1'
			showInWebsite='1'
			showInStore='1'
		>
			<tab>_df</tab>
			<label>Currency</label>
			<class>separator-top</class>
			<!--
				2015-11-13
				https://mage2.pro/t/355
			-->
			<resource>Dfe_Currency::config</resource>
			<group
				id='format'
				translate='label'
				type='text'
				sortOrder='1'
				showInDefault='1'
				showInWebsite='1'
				showInStore='1'
			>
				<label>Format</label>
				<field
					id='enable'
					translate='label'
					type='Df\Framework\Data\Form\Element\Checkbox'
					sortOrder='1'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[]]></comment>
				</field>
				<field
					id='numberOfDecimals'
					translate='label'
					type='text'
					sortOrder='2'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Number of Decimals</label>
					<!--
						2015-12-26
						Zend Framework автоматически округляет цены
						до заданного количества десятичных знаков:
						if (is_numeric($options['precision'])) {
							$value = Zend_Locale_Math::round($value, $options['precision']);
						}
						https://github.com/zendframework/zf1/blob/release-1.12.16/library/Zend/Locale/Format.php#L329
					-->
					<comment><![CDATA[Number of digits in an amount fractional part to show.]]></comment>
					<!--
						2015-12-26
						Оба условия важны:
						https://github.com/magento/magento2/blob/2.0.0/lib/web/mage/validation.js#L644-L649
						https://github.com/magento/magento2/blob/2.0.0/lib/web/mage/validation.js#L613-L623
					-->
					<validate>validate-number validate-zero-or-greater</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
			</group>
		</section>
	</system>
</config>